<h1><%= @piece.name %></h1>
<h3><%= @piece.description %></h3>

<div id="pieces">
	<ul>
		<li><%= piece.name %> : <%= truncate(piece.description, length: { minimum: 4 }) %></li>
	<% end %>
    </ul>
</div>